extends layout/layout.pug

block content
	
	.authorisation
		
		h1.authorisation__title Авторизация
		p.authorisation__descr Введите пожалуйста своё фио и ник для дальнейшей авторизации
		form.authorisation__form(name="publish")
			input.authorisation__input#authorisation-name(
            name="message" placeholder="Введите своё имя")
			input.authorisation__input#authorisation-nick(placeholder="Введите свой ник")
			button(type='submit').authorisation__enter ВОЙТИ

			
			
	include common/chat.pug
	include common/photo.pug
	
	.error
		.error__block
			h2.error__title
			button.error__btn ok