.photo__wrap.photo__wrap--modal
	.photo__modal
		button.photo__modal-close
		h3.photo__title Загрузка фото
		.photo__row
			input(type="file").photo__modal-wrap
	
			.photo__col
				h4.photo__name Алексей Трубин
				.photo__status В сети
.photo__wrap.photo__wrap--load
	.photo__load
		.photo__load-wrap
			
			img(src="").photo__load-ava
			.photo__load-wrap-second
		.photo__load-descr Область для профильной фотографии
		.photo__load-btns
			button.photo__load-btn#photo-cancel ОТМЕНА
			button.photo__load-btn#photo-save СОХРАНИТЬ
			
	
//				img(src="").photo__img